.hexisgone {
  display: none;
}
.hexagon {
  position: relative;
  margin: 100px 0px 5px 5px;
  min-width: 346px;
  min-height: 200px;
  max-width: 346px;
  max-height: 200px;
  background-color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 173px solid transparent;
  border-right: 173px solid transparent;
}
.hexagon::before {
  bottom: 100%;
  border-bottom: 100px solid black;
}
.hexagon::after {
  top: 100%;
  border-top: 100px solid black;
}@media screen and (min-width: 0px) and (max-width: 545px) {
  .hexagon:after {
    border-top: none;
    border-left-color: black;
    border-right-color: black;
    border-bottom: 100px solid transparent;
  }
}
@media screen and (min-width: 545px) and (max-width: 745px) {
  .hexagon:nth-of-type(2n) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 745px) and (max-width: 910px) {
  .hexagon:nth-of-type(3n) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 910px) and (max-width: 1095px) {
  .hexagon:nth-of-type(4n+3) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1095px) and (max-width: 1270px) {
  .hexagon:nth-of-type(5n+4) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1270px) and (max-width: 1445px) {
  .hexagon:nth-of-type(6n+4) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1445px) and (max-width: 1800px) {
  .hexagon:nth-of-type(7n+5) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2145px) {
  .hexagon:nth-of-type(9n+6) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 2145px) and (max-width: 2500px) {
  .hexagon:nth-of-type(11n+7) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 2500px) and (max-width: 2860px) {
  .hexagon:nth-of-type(13n+8) {
    margin-left: 180px;
  }
}
p, h1 {
  margin: 0 5px;
  color: white;
}
