.hexagon {
  position: relative;
  margin: 100px 0px 5px 5px;
  width: 346px;
  height: 200px;
  background-color: black;
  text-decoration: none;
}
.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 173px solid transparent;
  border-right: 173px solid transparent;
}
.hexagon::before {
  bottom: 100%;
  border-bottom: 100px solid black;
}
.hexagon::after {
  top: 100%;
  border-top: 100px solid black;
}
@media screen and (min-width: 0px) and (max-width: 745px) {
  .hexagon:nth-child(2n) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 745px) and (max-width: 910px) {
  .hexagon:nth-child(3n) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 910px) and (max-width: 1095px) {
  .hexagon:nth-child(4n+3) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1095px) and (max-width: 1268px) {
  .hexagon:nth-child(5n+4) {
    margin-left: 180px;
  }
}
@media screen and (min-width: 1268px) {
  .hexagon:nth-child(6n+4) {
    margin-left: 180px;
  }
}

p {
  color: white;
}
h1 {
  color: white;
}
