.reposDiv {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

@media screen and (min-width: 1090px){
  .reposDiv {
    columns: 2;
  }
}

/*@media screen and (min-width: 550px) {
  .reposDiv {
    width: 90%;
  }
}*/
